<h2>Inbox</h2>
<br>
<div>
    <table id = "inbox" class="table">
        <tr>
            <th>From</th>
            <th>Message</th>
            <th>Options</th>
        </tr>
    </table>
</div>
<br>
<button id = "getMsg" (click) = "getMsg()">check inbox</button>
<br>

<br>
<button id = "Compose" (click) = "newMsg()">Send a Message</button>
<br>
<dialog id = "msg">
    Sending to: <select id="uList">
	</select><br>
    <!-- <input type = "text" id = "send" [(ngModel)] = "sendTo"> --><br><br>
    Message:<br>
    <input type = "text" id = "message" [(ngModel)] = "detail" (keyup.enter)="sendMsg()"> <br><br>
    <button id = "send" (click)="sendMsg()">Send</button>
    <button id = "cancel" (click)="cancel()">Cancel</button>
</dialog>

<dialog id = "reply">
    Message:<br>
    <input type = "text" id = "message" [(ngModel)] = "detail" (keyup.enter)="replyMsg()"> <br><br>
    <button id = "send">Send</button>
    <button id = "cancel" (click)="cancel()">Cancel</button>
</dialog>