<button routerLink="/login" routerLinkActive="active">Home</button> <button routerLink="/key" routerLinkActive="active">Keys </button> <button>User</button><button hidden="true" id="logout" (click)="logout()"></button>
<button routerLink="/audit" routerLinkActive="active" hidden=true id="auditbutt">Audits</button><button hidden="true" id="out" (click)="logout()">Logout</button>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<h2>
	The IMS system for keys, by keys
</h2>
</div>
<router-outlet></router-outlet>
