<beans xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd"><!-- enable annotations --><context:component-scan base-package="com.revature"/><!--
 enable annotation-based configuration of Spring MVC 
--><mvc:annotation-driven/>
<!-- Set up our resources folder -->
<mvc:resources location="/keyims" mapping="/**"/></beans>