<ng-container *ngIf="!loggedUser; else display">
<div>
    <h1>Login</h1>
    <label>Email: </label> <input type="text" [(ngModel)]="username"><br>
    <label>Password: </label> <input type="password" [(ngModel)]="password" (keyup.enter)="login()"><br>
    <button class="btn btn-primary" (click)="login()">Login</button>
</div>
</ng-container>

<ng-template #display>
<div>
    <span id="welcome">Welcome {{getUser().name}}</span> <br>
    <button class="btn btn-danger" (click)="logout()">Logout</button>
</div>

</ng-template>

