/* You can add global styles to this file, and also import other style files */
body{
	background-color: "lightblue";
}

.doge {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.fire {
    position: fixed;
    right: 0px;
    top: 50%;
}