#keydet{
	background-image: linear-gradient(white, lightblue);
	position: fixed;
	right: 20px;
	bottom: 100px;
	width: 40%;
	height: 65%;
	border-style: double;
	border-width: 5px;
	padding-left: 25px;
}

#keyslist{
	background-image: linear-gradient(white, lightblue);
	width: 40%;
	border-style: double;
	border-width: 5px;
}

dialog{
	background-color: "white";
	position: fixed;
	bottom: 0;
	right: 20;
}

@keyframes list{
	from { right: -20%;}
	to {right: 0%;}
}

@keyframes butt{
	from {padding: 15px;}
	to {padding: 0px;}
}

button{
	animation-name: butt;
animation-duration: 1s;
	padding: 0px;
}

li{
	animation-name: list;
animation-duration: 1s;

position: relative;

	width: 50%;
	background-color: mintcream;
}

input{
animation-name: list;
animation-duration: 1s;

position: relative;

}

select{
animation-name: list;
animation-duration: 1s;

position: relative;
}
