Public Keys: <br>
<ul id="keylst">

</ul>
<button id="getKey" (click)="getKey()">Get Keys</button><br><br>
Create Key:
<div id="keydet">
<!--<img src="" alt="Key Image" id="imgdisp" height="500" width="500">-->
<a id="imgdisp" href="">Image</a><br>
ID: <span id="keyid"></span><br>
Description: <input type="text" id="keydesc"><br>
Material: <input type="text" id="keymat"><br>
Type: <input type="text" id="keytype"><br>
Qty: <input type="number" id="keyqty"><br> 
Public: <select id="keypub">
<option value="true">True</option>
<option value="false">False</option>
</select><br>
Image: <input type="file" id="keyimg"><br>
<button id="sub" (click)="submit()">Submit</button>
<button id="clr" (click)="clear()">Clear</button>
</div>
